<%= simple_form_for Idea.new do |f| %>
    <%= f.input :description %>
    <%= f.input :author %>
    <%= f.submit :"Submit" %>
<% end %>


<div class="max-w-screen-xl mx-auto">
<% @ideas.each do |idea| %>
<div class ="rounded overflow-hidden shadow-lg">
    <div class="px-6 py-8 h-full">
        <div class = "font-bold text-xl mb-2"><%=  idea.description %></div>
        <p class = "text-sm text-gray-700"><%= idea.author %></p>
    </div>
</div>
<% end %>